/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

a.no-style:link {
    color: inherit;
    text-decoration: none;
}

a.no-style:visited {
    color: inherit;
}

a.no-style:hover {
    color: darkorange;
}

a.no-style:active {
    color: inherit;
}

.icon-container {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.enlarge {
    position: absolute;
    margin-left: -40px;
}

.enlarge:hover{
    font-size:3.5em;
    transition: 0.1s ease-out;
}

/* Style for our fullpage
* --------------------------------------- */
h1{
    font-size: 4em;
    font-family: 'Reem Kufi', sans-serif;
    margin:0;
}

h2{
    font-size: 3.5em;
    font-family: 'Reem Kufi', sans-serif;
    margin:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Overwriting styles for control arrows for slides
* --------------------------------------- */
.controlArrow.prev {
    left: 50px;
}
.controlArrow.next{
    right: 50px;
}

